/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

.container {
    max-width: 1400px;
    margin: 0 auto;
}

/* Header */
.header {
    padding: 25px;
    background-color: #EAEAEA;
}
.header__body {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    text-align: center;
    font-size: 22px;
    padding: 25px;
    border: 1px solid #E8C25A;
    border-radius: 50%;
    cursor: pointer;
}
.menu__list {
    display: flex;
    gap: 25px;
}
.menu__list-link {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1.3px;
    position: relative;
}
.menu__list-link a {
    color:#E8C25A;
}
.menu__list-link::after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    background-color:#E8C25A;
}
.menu__list-link:hover.menu__list-link::after {
    width: 100%;
    transition: all .6s ease; 
} 
.header__contancts {
    max-width: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
}
.contacts__info a {
    color: black;
}
.contacts__info {
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .6s ease;
}
.contacts__info:hover {
    text-shadow: 1px 1px 2px #000;
}
/* Header */